<a href="https://colab.research.google.com/github/anamioto/MiniCurso_Intro_ML/blob/main/Intro_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução a Machine Learning com Data Girls

Aqui colocaremos em prática os conceitos de Regressão Logística abordados na apresentação teórica.

Mãos á obra! 

observação: estou tentando criar uma pasta no git com esse arquivo e o arquivo dos dados ok?

In [ ]:
# Importar bibliotecas para uso inicial

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 1º importando os dados a serem trabalhados 

dados = pd.read_csv("data/data.csv")

In [ ]:
# Formato dos dados

dados.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
# dimensão da base de dados
dados.shape

(569, 33)

In [ ]:
# 2º verificar inconsistências

dados.isna().sum() # incluir essa linha pra mostrar a quantidade de NA por coluna

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [ ]:
dados[dados['Unnamed: 32'].notnull()]  
# remover essa coluna - mas é bom incluir a etapa de limpeza 
# exatamente pra ensinar a verificar essas coisas ne

Empty DataFrame
Columns: [id, diagnosis, radius_mean, texture_mean, perimeter_mean, area_mean, smoothness_mean, compactness_mean, concavity_mean, concave points_mean, symmetry_mean, fractal_dimension_mean, radius_se, texture_se, perimeter_se, area_se, smoothness_se, compactness_se, concavity_se, concave points_se, symmetry_se, fractal_dimension_se, radius_worst, texture_worst, perimeter_worst, area_worst, smoothness_worst, compactness_worst, concavity_worst, concave points_worst, symmetry_worst, fractal_dimension_worst, Unnamed: 32]
Index: []

In [ ]:
# Remover variável que só possui NA

# atribuir a variável "dados" o mesmo conjunto de dados mas com a variável 'Unnamed: 32' removida
dados = dados.drop(labels = 'Unnamed: 32', axis = 1) # 0 pra linha, 1 pra coluna

# dados.drop('Unnamed: 32', axis = 1, inplace = True) # outra forma de remover

In [ ]:
# Verificando coluna removida 

dados.shape

(568, 32)